<h1><%= pokemon.name %></h1>
<h2><%= pokemon.id %></h2>
<img src="<%= pokemon.sprites.other.dream_world.front_default %>" alt="<%= pokemon.name %>">
<p>Type: 
    <% pokemon.types.forEach (type =>{ %>
        <%= type.type.name %>
    <% }) %>
</p>
<p>Height: <%= pokemon.height %> Weight: <%= pokemon.weight %></p>
<a href="/pokemon">Back to Favorites</a>